body{
    font-family:'niconne';  
   color:white;
  margin:0px;
  top:0;
  background: url('img-4.jpg') no-repeat center center fixed;
    background-size: cover;    
    width:100%;
}

.todo{
    background-color: rgb(0, 0, 0, 0.3);
    width:40%;
    height:50%;
    text-align:center;
    position:relative;
    top:2rem;
    padding-top:2rem;
    padding-bottom:2rem;
    animation: moveInRight 3s ease-out;
}

.welcome{
    text-align:center;
    font-weight:650;
    
}

.todo p{
    font-size:1.4rem;
}

#input{
    height:2rem;
    outline:none;
    padding-left:1rem;
}

#output{
    font-size:1.3rem;
    position:relative;
    top:2rem;
    text-align:left;
    padding-left:5rem;
    font-family:'niconne';  
     
}

button{
    font-size:1.2rem;
    background-color:slategrey;
    border: 1px;
    border-radius: 10%;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    animation: moveInBottom 2s ease-out .75s;
      animation-fill-mode: backwards;
    }

button:hover{
    border:none;
    outline:none;
    background-color:rgba(160, 224, 214, 0.445);
}

.footer {
     position:fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #ccc;
      height: 4rem;
      animation: moveInLeft 3s ease-out;

    }

    .footer p {
        color:black;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.4rem;
    }

    @keyframes moveInLeft {
      0% {
        opacity: 0;
        transform: translateX(-10rem);
      }

      80% {
        transform: translateX(1rem);
      }

      100% {
        opacity: 1;
        transform: translate(0);
      }


    }

    @keyframes moveInRight {
      0% {
        opacity: 0;
        transform: translateX(10rem);
      }

      80% {
        transform: translateX(-1rem);
      }

      100% {
        opacity: 1;
        transform: translate(0);
      }
    }


    @keyframes moveInBottom {
      0% {
        opacity: 0;
        transform: translateY(3rem);
      }

      100% {
        opacity: 1;
        transform: translate(0);
      }
    }


    @media only screen and (max-width: 768px) {
      .todo{
        background-color: rgb(0, 0, 0, 0.3);
        width:80%;
        height:50%;
        text-align:center;
        position:relative;
        top:2rem;
        padding-top:1rem;
      }
      #output{
        padding-left:1rem;
          
         
    }
      }